<section id="login">
  <div class="container-fluid pt-4">
    <div class="row">
      <div class="col s4 offset-s4">
        <div class="login-form">
          <div class="card hoverable">
            <div class="card-content blue-grey lighten-5">
              <span class="card-title">

                <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                  <div class="input-field">
                    <%= f.label :email %>
                    <%= f.email_field :email, autofocus: false %>
                  </div>

                  <div class="input-field">
                    <%= f.label :password %>
                    <%= f.input_field :password, autofocus: false %>
                  </div>

                  <div class="form-actions center">
                    <%= f.button :submit, "Log in" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
